form
  header
    h1 Validating Authentication&hellip;

  section
    label
      .progress
        .pip
        .pip
        .pip
      
      .message

  footer
    nav
      p.login.hidden: bora-link(data-name = "connect") Login Again
      
      p.home.hidden: bora-link(data-name = "home") Go Home
